<div class="container">
  <div class="columns">
    <div class="column is-4">
      <a href="https://badge.fury.io/py/pyseleniumjs"><img src="https://badge.fury.io/py/pyseleniumjs.svg" alt="PyPI version" height="18"></a>
    </div>
    <div class="column is-4">
      <ul class="unstyled">
        <li>
          <i class="ico ico-left fa fa-bolt" style="color: gold;"></i> Powered by Angular.js
        </li>
        <li>
          Designed with <i class="ico ico-fixed fa fa-heart" style="color: crimson; font-size: medium;"></i> using <a href="http://bulma.io/">Bulma</a>
        </li>
        <li>
          <small>
            <i class="ico ico-left fa fa-code" style="font-size: medium; line-height: 1.5rem;"></i> Website created by John Nolette
          </small>
        </li>
      </ul>
    </div>
    <div class="column is-4">
      <h1>Copyright &copy; neetGroup 2017</h1>
    </div>
  </div>
</div>