@import url('https://fonts.googleapis.com/css?family=Fredoka+One|PT+Sans|Roboto');

$font-title: 'PT Sans', sans-serif;
$font-general: 'Roboto', sans-serif;
$font-logo: 'Fredoka One', cursive;

// # Colors
// http://www.color-hex.com/color-palette/41521

$color-white: #f8f8ff;

$color-primary: #897aa0;
$color-info: #5ba3c3;
$color-danger: 	#cb6767;
$color-default: #4cc3af;
$color-warning: #d4bc57;

$color-pale-shade: #eeeeee;
$color-dark-shade: #171717;

$ico-dist: 0.5rem;