user-list {
  #userManager {
    padding: 1rem;
    background-color: $color-white;
    @include card(1.5);
  }
  ul li:first-of-type {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  ul li:not(:first-of-type) {
    padding: 1rem;
  }
}